@font-face 
{
    font-family: "myFont";
    src: url("Ubuntu-M.ttf");
}

*
{
    font-family: "myFont";
    color: rgb(223, 223, 223);
    background-color: #333333;
}

table
{
    border-collapse: collapse;
}

th, td
{
    border: 2px solid #222222;
    margin: 6px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    width: 100px;
}

th
{
    background-color: #646464;
}

tr:hover td
{
    background-color: #555555;
}

button
{
    align-self: center
}
